/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

body {
    background-color: #333;
}


/* Global Styles for Forms and Cards */

/* FORM */
.form-control {
    color: white;
    display: flex;
    flex-flow: column;
    padding-bottom: 20px;
}

.form-control--input {
    height: 35px;
    padding-left: 10px;
    font-size: 18px;
}

.form-control--button-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.form-control--heading {
    color: #581845;
    padding-bottom: 30px;
}

.error-message {
    color: #f98b8b;
    padding-bottom: 20px;
}

.success-message {
    color: #58bd58;
    padding-bottom: 20px;
}
/* BUTTON CONFIG */

.btn {
    height: 40px;
    width: 150px;
    font-size: 18px;
    border: none;
    outline: transparent;
}

.btn-primary {
    background-color: #ff5600;
    color: white;
    font-weight: 400;
}

.btn-secondary {
    background-color: #900c3f;
    color: white;
    font-weight: 400;
}


/* CARD */
.card {
    background-color: rgba(255,255,255, 0.2);
    padding: 30px 20px;
}

